<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather Information</title>
  <link rel="stylesheet" type="text/css" href = "/static/css/index.css"/>
</head>
<body>
    <div class="content">
        <h1 style="text-align: center">WELCOME</h1>
        <h1 style="text-align: center">Know Weather of Your City</h1>
    
        <div class="form">
            <form action="/weatherapp" method="POST">
                
              <div class="centered-input">
                <label><b>Enter City:</b></label>
                <input type="text" name="city" id="city" placeholder="Enter Your City" size="30" ><br>
              </div>
              <div class="centered-input">
                <label><b>Enter units:</b></label>
                <input type="text" name="units" id="units" placeholder="Enter Units" size="30"><br>
              </div> 
              <div class="centered-input">  
                <input type="submit" value="Search" class="custom-button">
              </div>
            </form>
        </div>
    </div>
</body>
</html>